@{
    ViewData["Title"] = "Home Page";
}
    @*ESTILOS PERONALIZADOS*@
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<head>

</head>

<body class="dx-viewport">

    <div class="demo-container">
        <div id="chart-demo">
            <div id="chart"></div>
            <div class="action">
                <div class="label">Choose a temperature threshold, &deg;C: </div>
                <div id="choose-temperature"></div>
            </div>
        </div>
    </div>

    <script>
        /*DECLARACION DE VARIABLES --- TRAER DATA PARA TABLAS */




    </script>

</body>